DEBUG=True

DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_HOST=cms_db_container
DATABASE_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cms@123
POSTGRES_DB=cms_db

# Server Environment
ENVIRONMENT="local"
MODE="local"